*{
    margin: 0px;
    padding: 0px;
    font-family: "Raleway", Helvetica, sans-serif;
}

.menu-bar {
    height: 60px;
    background-color: white;
}

.navbar-brand img {
    max-height: 30px;
    margin-top: 5px;
    margin-left: 20px;
}

.nav-link {
    font-size: 16px;
    margin: 3px;
    color: black!important;
    font-weight: 500;
}

.navbar-nav {
    margin-right: 20px;
 }

 .menu-bar .navbar-toggler {
     padding-right: 20px;
     outline: none!important;
     border: none!important;
 }

 

 .nav-link :hover {
     font-weight: 600;
     border-bottom: 1px solid black;
 }

 @media only screen and (max-width:1000px){
     .nav-link :hover{
         border-bottom: none!important;
     }
 }

 .jumbotron{
     height: calc(100vh - 80px);
     background-image: url("images/new\ bg.png");
     background-position: center;
     background-size: cover;
     align-items: center;
     display: flex;
    justify-content: center;
    text-align: center;
 }

 .display-4{
     font-family: 'Abril Fatface';
     color: rgb(61, 35, 35);
 }

 .titlee{
    font-family: 'Abril Fatface';
    color: rgb(61, 35, 35);
 }
 .btn{
    color: purple;
 }

 .home{
     height: 100vh;
 }

.row h1{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 60px;
}

.detail{
    margin: 20px;
    font-size: larger;
    align-self: center;
    padding: 20px;
}

.row img{

    max-width: 350px;
    display: flex;
    align-content: flex-end;
    justify-content: end;
}
.major{
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 10px;
}

.instansi{
    padding-top: 20px;
}

.year{
    margin-top: 30px;
}

.education{
    margin-top: 120px;
}

.software{
    margin-top: 90px;
}

.portfolio{
    margin-top: 120px;
    background-color: blanchedalmond;
    padding-bottom: 120px;
}

.ebg{
    margin-top: 30px;
}

.sf{
    margin-top: 50px;
}


.contact{
    margin-bottom: 120px;
}


.button{
    color: burlywood;
}